body {
    background-color: white;
    color: black;
}
.navbar {
    background-color: rgb(150, 120, 182);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.profile-header, .calendar {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Perfil */
.profile-section { 
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
}
.profile-section img { 
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    margin-right: 15px; 
    border: 2px solid #ddd;
}
.badge { 
    background-color: #e6f4ea; 
    color: #28a745; 
    font-size: 0.8rem; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

/* Texto */
.text-muted { 
    font-size: 0.9rem; 
}
.price-info { 
    font-weight: bold; 
    font-size: 1.1rem; 
    color: #333; 
}

/* Disponibilidad */
.availability { 
    margin-top: 20px; 
}
.day-column { 
    text-align: center; 
    margin: 10px 0; 
}
.day-column strong { 
    display: block; 
    font-weight: 600; 
    margin-bottom: 10px; 
    font-size: 0.9rem; 
}
.day-column input { 
    width: 100%; 
    margin: 5px 0; 
    font-size: 0.9rem; 
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .profile-section { 
        flex-direction: column; 
        align-items: flex-start; 
        text-align: left; 
    }
    .profile-section img { 
        margin-bottom: 10px; 
    }
    .day-column button { 
        width: 100%; 
    }
}
.nav-tabs .nav-link.active {
    font-weight: bold; /* Texto en negrita */
    border: none;
    border-bottom: 3px solid #000; /* Línea inferior en negrita */
    color: #000; /* Color del texto */
}
/* Estilo para las pestañas inactivas */
.nav-tabs .nav-link {
    color: #666; /* Color del texto inactivo */
}