body {
    font-family: "Josefin Sans", sans-serif;
}

.navbar-nav .nav-link:hover,
.navbar-brand:hover {
    color: rgb(230, 230, 230) !important;
}

.navbar-nav .nav-link,
.navbar-brand {
    color: white !important;
}

.navbar-nav .nav-link.active {
    color: rgb(230, 230, 230) !important;
}

.contenedorcompleto {
    height: 100vh;
    background-color: rgb(234, 228, 246)
}

.votar.active {
    background-color: #fffb00;
    border-color: #fffb00;
    color: black;
}

#imagen {
    margin: 0;
    padding: 0;
}

